
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CosmePlanet{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CosmePlanet</title>
        <link rel="shortcut icon" href="{{ asset('assets/img/PLANT-9.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/css/fontawesome/css/fontawesome-all.min.css.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/values.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/cheveux.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/connect.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/mustHave.css') }}">




        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %} #}

    </head>

    <body>
        <header>

            <!-- 1ère navbar -->
            <div class="container-fluid">
                <div class="row d-flex">
                    <div class="col-lg-4 text-center">
                        <a href="{{ path("homepage") }}"><img src="{{ asset('assets/img/logo2.png') }}" alt="Logo L'art des plantes" class="img-fluid logo"></a>
                    </div>
                    <div class="col-lg-4 nav-item active">
                        <form>
                            <div class="input-group persobar">
                                <input class="form-control search" type="text color" placeholder="Rechercher" aria-label="Search">
                                <div class="input-group-append">
                                    <span class="input-group-text amber lighten-3" id="basic-text1">
                                    <i><img src="{{ asset('assets/img/loupe.png') }}" class="loupe"></i></span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-2 offset-lg-2 d-flex justify-content-end">
                        <a href="{{ path("account") }}" class="cp-icone"><img src="/assets/img/profil.png" alt="accéder à votre espace client"></a>
                       <a href="#" class="cp-icone"> <img src="/assets/img/shop.png" alt="accéder à votre panier"></a>
                    </div>
                </div>
            </div>


            <!-- 2ème navbar -->
            <div class="nav-border container-fluid">
                <div class="row cp-navbar2">
                    <div class="col-lg-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb purple lighten-4">
                                <li class="breadcrumb-item"><a class="black-text" href="{{ path("homepage") }}">Home</a><i class="fas fa-angle-right mx-2"
                                    aria-hidden="true"></i></li>
                                <li class="breadcrumb-item active">{% if breadcrumb is defined %} {{ breadcrumb }} {% endif %}</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-lg-8 marge-nav align-self-start   ">
                        <nav class="navbar navbar-expand-lg py-3">

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"><img src="{{ asset('assets/img/menu.png') }}"></span>
                            </button>


                            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active"><a href="{{ path("view_must_have") }}" class="nav-link text-uppercase">Must-have<span class="sr-only">(current)</span></a></li>
                                        <li class="nav-item"><a href="{{ path("view_product_category", { 'category_id': 1, 'full': 0 }) }}" class="nav-link text-uppercase">corps</a></li>
                                        <li class="nav-item"><a href="{{ path("view_product_category", { 'category_id': 3, 'full': 0 }) }}" class="nav-link text-uppercase">visage</a></li>
                                        <li class="nav-item"><a href="{{ path("view_product_category", { 'category_id': 5, 'full': 0 }) }}" class="nav-link text-uppercase">cheveux</a></li>
                                        <li class="nav-item"><a href="{{ path("view_product_category", { 'category_id': 10, 'full': 0 }) }}" class="nav-link text-uppercase">maquillage</a></li>
                                        {# <li class="nav-item"><a href="{{ path("valeurs") }}" class="nav-link text-uppercase">valeurs</a></li>
                                        <li class="nav-item"><a href="{{ path("blog") }}" class="nav-link text-uppercase">blog</a></li> #}
                                    </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">

            </div>
        </main>
        {% block body %}{% endblock %}

        {# ####### FOOTER ########### #}

        <footer>

            <section class="container">
                <div class="row newsletter-global">
                    <div class="col-sm-6 col-lg-4 justify-content-center">
                        <img src="{{ asset('assets/img/logofooter2.png') }}" class="logo-footer img-fluid "  alt="logofooter">
                    </div>

                    <div class="col-1">
                    </div>

                    <div class="col-sm-12 col-lg-6 newsletter">
                        <div class="row ">
                            <div class="col-sm-12 col-lg-12 content justify-content-start">
                                <h4> NEWSLETTER</h4>
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Votre email">
                                    <span class="input-group-btn">
                                    <button class="btn" type="submit">S'abonner</button>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="row ">
                            <div id="reseaux" class="col-sm-12 col-lg-12">
                                <ul class="text-center">
                                    <li class="reseau"><img src="/assets/img/fb.png"/></li>
                                    <li class="reseau"><img src="/assets/img/pinterest.png"/></li>
                                    <li class="reseau"><img src="/assets/img/twitter.png"/></li>
                                    <li class="reseau">><img src="/assets/img/insta.png"/></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-1">
                    </div>

                </div>

                <div class="row pb-5">
                    <div class="col-sm-6 col-lg-4 connaitre">
                        <ul>
                            <h4>Nous connaître</h4>
                            <li><p>Design graphic, UX/UI</p></li><br>
                            <li><a href="mailto: elise.anuszewski@gmail.com" class="email">Elise Anuszewski</a></li><br>
                            <li><p>Développement front &amp; back</p></li><br>
                            <li><a href="mailto: clairecama@gmail.com" class="email">Claire Brosset</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <ul>
                            <h4>Service client</h4>
                            <li><p>Informations livraison</p></li><br>
                            <li><p>Conditions générales de vente</p></li><br>
                            <li><p>Contact SAV </p></li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <ul>
                            <h4>Informations utiles</h4>
                            <li><p>En savoir plus</p></li><br>
                            <li><p>Politique de confidentialité</p></li><br>
                            <li><p>Carrières </p></li>
                        </ul>
                    </div>
                </div>

            </section>

        </footer>
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {# {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
    </body>
</html>
